<!DOCTYPE html>
<html>
  <head>
    <title>Gundam Builder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gundam Builder</h1>
    <p>Welcome to Gundam Builder</p>

    <a href="gundam/new">New Gundam</a>
    <a href="gundam/index">All Gundam</a>
  </body>
</html>